spring:
  http:
    converters:
      preferred-json-mapper: gson
fredboat:
  db:
    main:
      jdbcUrl: ""
    cache:
      jdbcUrl: ""
  security:
    admins:
      - name: fredbotto
        pass: 123
      - name: patronbotto
        pass: 456
